# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.stackdump
*.opensdf
sgi_stl_personal.sdf
sgi_stl_personal.v12.suo
*.suo
*.suo
*.sdf
sgi_stl_personal.sdf
sgi_stl_personal.sln
sgi_stl_personal.vcxproj
sgi_stl_personal.vcxproj.filters
sgi_stl_personal.opensdf
*.sdf
*.suo
*.sdf
*.suo
*.db
*.opendb
*.log
*.user
*.hint
*.ipch
